<div class="main m15">
    <div class="border-3">
        <h2>待办事项</h2>
    </div>
    <div class="border-1 m15-1 index-alert-2 index-alert">当前有15000条未审评论，请及时处理！<b class="right delete">
        <font style="font-size:16px; line-height:16px;">×</font></b></div>
    <div class="border-3">
        <h2>数据统计</h2>
    </div>
    <div class="m15 index-icon">
        <ul>
            <li class="border"><i class="icon-member-order-2 icon"></i>未发货/<font class="green">150</font></li>
            <li class="border"><i class="icon-member-order-1 icon"></i>已发货/<font class="c1">150</font></li>
        </ul>
        <br clear="both">
    </div>


    <div class="h15"></div>

</div>